.register-link .register-links {
  color: #333333;
  text-decoration: none;
}

.register-link .register-links:hover, .card-link {
  color: #D99734;
}

body {
  font-size: 18px;
  background-color: #E2E0E0;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 15px;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

.header {
  padding: 15px 0;
  background-color: #fff;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.menu-bg {
  background-color: #333333;
}

.menu-block {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-block a {
  color: #E7E7E7;
  text-transform: uppercase;
}

.menu-block a:hover {
  color: #D99734;
  text-decoration: none;
}

.nav-item {
  text-align: center;
}

.navbar-toggler-icon {
  fill: #fff;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar {
  min-height: 72px;
}

.content {
  padding: 18px 0;
  min-height: 800px;
  height: 100%;
}

.main-content {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
}

.text-inp {
  min-width: 160px;
}

.calc-inp {
  padding: 10px;
  width: 100%;
  border: 1px solid #D99734;
  border-radius: 5px;
  outline: none;
  color: #494949;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url(../img/dropdown.png) no-repeat right center;
  padding: 10px;
  width: 100%;
  border: 1px solid #D99734;
  border-radius: 5px;
  outline: none;
  color: #494949;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-title {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0;
}

.btn {
  padding: 10px 20px;
  width: 100%;
  border-radius: 0;
  background-color: #D99734;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #E2AC5A;
}

.table-header {
  text-align: center;
  border-bottom: 1px solid #D99734;
  background-color: #E2AC5A;
  padding: 10px 0;
}

.person-result {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #D99734;
}

.total-weight {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
}

.delete-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.no-display {
  display: none;
}

footer {
  padding: 20px 0;
  background-color: #333333;
  margin-top: 24px;
}

.footer-content {
  color: #9A9999;
  font-size: 14px;
  margin-top: 10px;
}

.container-fluid {
  padding: 0;
}

.main-slider {
  opacity: .99;
}

.slider-description {
  color: #fff;
  position: absolute;
  top: 20%;
  left: 55%;
  font-size: 24px;
  max-width: 470px;
}

.slider-description-left {
  color: #fff;
  position: absolute;
  top: 20%;
  right: 50%;
  font-size: 24px;
  max-width: 470px;
}

.slide-title {
  text-transform: none;
  margin-top: 50px;
  margin-bottom: 25px;
}

.slide-btn {
  max-width: 260px;
}

.slide {
  position: relative;
  height: 650px;
  width: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item {
  height: 650px;
}

.main-page-container {
  padding-top: 0;
  margin-top: -40px;
  position: relative;
}

.main-page-content {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  line-height: 33px;
  border-bottom: 1px solid #66676D;
}

.title-text {
  font-size: 24px;
  margin-bottom: 0;
}

.artic-itm-hor {
  padding: 50px 24px;
}

.artic-itm-hor .artic-title {
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

.artic-itm-hor .artic-date {
  font-weight: 600;
}

.artic-itm-hor img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.artic-img {
  overflow: hidden;
}

.artic-img img {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.artic-img:hover img {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.artic-itm-col {
  padding: 50px 24px;
  height: 100%;
}

.artic-itm-col .artic-text {
  margin-top: 35px;
}

.artic-itm-col img {
  width: 100%;
  height: 100%;
  max-height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.artic-itm-col:hover img {
  cursor: pointer;
}

.artic-description {
  color: #66676D;
}

.card-link:hover {
  text-decoration: underline;
  color: #333333;
}

.card {
  border: none;
}

.mb-3 {
  margin-bottom: 0 !important;
}

.galery {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.galery div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: auto;
  margin: 9px;
}

.galery div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galery:hover img {
  opacity: 0.3;
  -webkit-transition: .8s opacity;
  transition: .8s opacity;
}

.galery:hover img:hover {
  opacity: 1;
  -webkit-transition: .8s opacity;
  transition: .8s opacity;
}

@media (max-width: 991.98px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 991.98px;
  }
  .content {
    padding-top: 0;
  }
  .sex {
    display: none;
  }
  .equipment {
    display: none;
  }
  .strength {
    display: none;
  }
  .slider-description {
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    left: 0;
    max-width: 991px;
  }
  .slider-description-left {
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
    position: absolute;
    top: 30%;
    width: 100%;
    max-width: 991px;
    right: 0;
    text-align: center;
  }
}

@media (max-width: 575.98px) {
  .slider-description {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 18px;
  }
  .slider-description h1 {
    font-size: 24px;
  }
  .slider-description-left {
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
  }
  .slider-description-left h1 {
    font-size: 24px;
  }
  .artic-itm-hor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card {
    padding-left: 0;
    padding-right: 0;
  }
  .galery div {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */
